body {
    font-family: 'Roboto', sans-serif;
}

.header {
display: flex;
justify-content:space-around;
align-items: center;
background-color: #1f2937;
}

.headerlogo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    display:flex;
    gap:10px;
    font-size: 18px;
    margin: 0px;
    padding: 0px;

}

.left-links a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    color: ;

}

button {
    border-radius: 10%;
}